# التبعيات
/node_modules

# ملفات نظام التشغيل
.DS_Store
Thumbs.db

# ملفات السجلات (Logs)
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# مجلدات البناء أو التوزيع 
# /dist
# /build
# /out

# ملفات بيئة العمل (IDE) ومحررات الأكواد
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# ملفات أخرى خاصة بمشاريع Node.js 
.npm
.eslintcache
.env
.env.*.local
.env.local
